.container{
    background-image: url('../../../public/Images/landingback.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.buttoncontainer {
    position: fixed;
    bottom: 130px; 
    right: 280px; 
  }

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #ff6f00; 
    color: #ffffff; 
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #ff8f00; 
  }
  
  .button:active {
    background-color: #ff4f00; 
  }